#main_div{
    background-color: rgb(218, 14, 167);
    width: 50%;
    height: 250px;
    margin: auto;
    align-items: center;
    padding-top: 2%;
}
.key{
    width: 50px;
    height: 45px;
    background-color: rgb(241, 187, 214);
    border: rgb(238, 130, 220) 2px solid;
    display: inline-block;
    margin: 1%;
    text-align: center;
    padding-top: 1%;
    cursor: pointer; /* סמן כף יד */
}
.big_keys{
    text-align: center;
    width: 99%;
}
button{
    background-color: rgb(218, 14, 167);; /* צבע ורוד בהיר */
    border: none; /* ללא גבול */
    padding: 10px 20px; /* ריפוד */
    text-align: center; /* מרכז טקסט */
    text-decoration: none; /* ללא קו תחתון */
    display: inline-block; /* תצוגה כ-inline-block */
    /* font-size: 16px; גודל גופן */
    margin: 4px 2px; /* מרווח */
    cursor: pointer; /* סמן כף יד */
    border-radius: 12px; /* פינות מעוגלות */
    transition: background-color 0.3s; /* אנימציה על שינוי צבע */

}
